{% extends "rudi/base.html" %}
{% load i18n %}

{% block content %}
<div class="registration-container">
    <h1>{{ event.name }} {{ event.semester }}</h1>
    <h2>{% trans "Anmeldung" %}</h2>
    <div class="container-fluid">
        <p class="col-md-7 col-sm-9 description text-justify">
            {{ dyn_desc }}
        </p>
    </div>
    <div class="row">
        <span class="col-sm-2 text-right">
            {% trans "Datum:" %}
        </span>
        <span class="col-sm-10">
            <strong>{% blocktrans with event_date=event.date|date:"j.n.Y" event_appetizer_time=event.appetizer_time|date:"H.i" %}{{ event_date }} - {{ event_appetizer_time }} Uhr{% endblocktrans %}</strong>
        </span>
    </div>
    <div class="row">
        <span class="col-sm-2 text-right">
            {% trans "Anmeldeschluss:" %}
        </span>
        <span class="col-sm-10">
            <strong>{% blocktrans with event_end_registration=event.end_registration|date:"j.n.Y" %}{{ event_end_registration }}{% endblocktrans %}</strong>
        </span>
    </div>
    <p class="form-notes">
    {% trans "Pflichtfelder sind mit * gekennzeichnet" %}
    </p>
    <form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.non_field_errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    <fieldset>
    <legend>{% trans "Team" %}</legend>
    <div class="form-group">
        <label for="{{ form.name.id_for_label }}" class="col-sm-2 control-label">{{ form.name.label }}{% if form.name.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.name }}
        </div>
        <div class="col-xs-1">
            {% if form.name.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.name.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.name.errors %}
            <span class="error">
                {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    </fieldset>
    <fieldset> 
        <legend>{% trans "Kochaddresse" %} <span class="glyphicon glyphicon-info-sign" title="{% trans "Der Ort, an dem ihr euren Gang zubereitet. Dieser sollte möglichst zentral liegen, um lange Wege zu vermeiden und groß genug für 4 weitere Gäste sein." %}"></span>
</legend>
    <div class="form-group">
        <label for="{{ form.street.id_for_label }}" class="col-sm-2 control-label">{{ form.street.label }}{% if form.street.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.street }}
        </div>
        <div class="col-xs-1">
            {% if form.street.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.street.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.street.errors %}
            <span class="error">
                {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.postal_code.id_for_label }}" class="col-sm-2 control-label">{{ form.postal_code.label }}{% if form.postal_code.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.postal_code }}
        </div>
        <div class="col-xs-1">
            {% if form.postal_code.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.postal_code.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.postal_code.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.city.id_for_label }}" class="col-sm-2 control-label">{{ form.city.label }}{% if form.city.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.city }}
        </div>
        <div class="col-xs-1">
            {% if form.city.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.city.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.city.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.doorbell.id_for_label }}" class="col-sm-2 control-label">{{ form.doorbell.label }}{% if form.doorbell.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.doorbell }}
        </div>
        <div class="col-xs-1">
            {% if form.doorbell.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.doorbell.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.doorbell.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    </fieldset>
    <fieldset>
        <legend>{% trans "Team Mitglied 1" %}</legend>
    <div class="form-group">
        <label for="{{ form.participant_1_firstname.id_for_label }}" class="col-sm-2 control-label">{{ form.participant_1_firstname.label }}{% if form.participant_1_firstname.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.participant_1_firstname }}
        </div>
        <div class="col-xs-1">
            {% if form.participant_1_firstname.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.participant_1_firstname.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.participant_1_firstname.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.participant_1_lastname.id_for_label }}" class="col-sm-2 control-label">{{ form.participant_1_lastname.label }}{% if form.participant_1_lastname.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.participant_1_lastname }}
        </div>
        <div class="col-xs-1">
            {% if form.participant_1_lastname.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.participant_1_lastname.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.participant_1_lastname.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.participant_1_email.id_for_label }}" class="col-sm-2 control-label">{{ form.participant_1_email.label }}{% if form.participant_1_email.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.participant_1_email }}
        </div>
        <div class="col-xs-1">
            {% if form.participant_1_email.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.participant_1_email.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.participant_1_email.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.participant_1_phone.id_for_label }}" class="col-sm-2 control-label">{{ form.participant_1_phone.label }}{% if form.participant_1_phone.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.participant_1_phone }}
        </div>
        <div class="col-xs-1">
            {% if form.participant_1_phone.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.participant_1_phone.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.participant_1_phone.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    <fieldset>
    <legend>{% trans "Team Mitglied 2" %}</legend>
    <div class="form-group">
        <label for="{{ form.participant_2_firstname.id_for_label }}" class="col-sm-2 control-label">{{ form.participant_2_firstname.label }}{% if form.participant_2_firstname.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.participant_2_firstname }}
        </div>
        <div class="col-xs-1">
            {% if form.participant_2_firstname.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.participant_2_firstname.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.participant_2_firstname.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.participant_2_lastname.id_for_label }}" class="col-sm-2 control-label">{{ form.participant_2_lastname.label }}{% if form.participant_2_lastname.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.participant_2_lastname }}
        </div>
        <div class="col-xs-1">
            {% if form.participant_2_lastname.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.participant_2_lastname.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.participant_2_lastname.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.participant_2_email.id_for_label }}" class="col-sm-2 control-label">{{ form.participant_2_email.label }}{% if form.participant_2_email.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.participant_2_email }}
        </div>
        <div class="col-xs-1">
            {% if form.participant_2_email.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.participant_2_email.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.participant_2_email.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.participant_2_phone.id_for_label }}" class="col-sm-2 control-label">{{ form.participant_2_phone.label }}{% if form.participant_2_phone.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.participant_2_phone }}
        </div>
        <div class="col-xs-1">
            {% if form.participant_2_phone.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.participant_2_phone.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.participant_2_phone.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    </fieldset>
    <fieldset>
    <legend>{% trans "Sonstiges" %}</legend>
    <div class="form-group">
        <label for="{{ form.allergies.id_for_label }}" class="col-sm-2 control-label">{{ form.allergies.label }}{% if form.allergies.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {{ form.allergies }}
        </div>
        <div class="col-xs-1">
            {% if form.allergies.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.allergies.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.allergies.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    </fieldset>
    <fieldset>
        <legend>{% trans "Präferenzen" %}</legend>
    <div class="form-group">
        <label for="{{ form.like.id_for_label }}" class="col-sm-2 control-label">{{ form.like.label }}{% if form.like.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {% for item in form.like %}
            <div class="checkbox">
                {{ item }}
            </div>
            {% endfor %}
        </div>
        <div class="col-xs-1">
            {% if form.like.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.like.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.like.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.dislike.label }}{% if form.dislike.field.required %}*{% endif %}:</label>
        <div class="col-xs-11 col-sm-4">
            {% for item in form.dislike %}
            <div class="checkbox">
                {{ item }}
            </div>
            {% endfor %}
        </div>
        <div class="col-xs-1">
            {% if form.dislike.help_text %}
            <span class="glyphicon glyphicon-info-sign" title="{{ form.dislike.help_text }}"></span>
            {% endif %}
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.dislike.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    </fieldset>
    <div class="form-group">
        <label class="col-sm-2 control-label">
            {{ form.agree_terms.label }}{% if form.agree_terms.field.required %}*{% endif %}:
        </label>
        <div class="col-xs-11 col-sm-4">
            <div class="checkbox">
                <label>
                    {{ form.agree_terms }}
                    {{ form.agree_terms.help_text }}
                </label>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-xs-12">
        {% for error in form.agree_terms.errors %}
            <span class="error">
            {{ error }}
            </span>
        {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
            <button class="btn btn-default" type="submit">{% trans "Absenden" %}</button>
        </div>
    </div>
    </form>
</div>

{% endblock %}
