{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}Send Custom Mail to Participants{% endblock %}
{% block extrahead %}
<style type="text/css">
    #content-main label {
        float: left;
        width: 80px;
        font-weight: bold;
    }
    #content-main input[type="text"] {
        width: 480px;
    }
    #content-main textarea {
        width: 480px;
        height: 320px;
    }
</style>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcurmbs">
        <a href="{% url "admin:index" %}">{% trans "Home" %}</a>&nbsp;&rsaquo;
        <a href="{% url "admin:index" %}rudi/">{% trans "Running Dinner" %}</a>&nbsp;&rsaquo;
        <a href="{% url "admin:index" %}rudi/team/">{% trans "Team" %}</a>&nbsp;&rsaquo;
        Send Custom Mail
    </div>
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Send Mail to Participants</h1>
    <p><strong>Recipients:</strong> 
    {% for email in email_addresses %}
        {{ email }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>
    <p><strong>From:</strong> {{ advisor.email }}</p>
    <form method="post" action="{% url "admin:custom_mail_preview" %}">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" name="mail_submit" value="Send Mail"></input>
        </p>
    </form>
</div>
{% endblock %}
